/* .mat-form-field {
    width: 50%; 
    display: block;
    margin-left: 5%;
    border: none;
    margin-top: 5%;  
  } */
  
  /* .mat-dialog-title {
    color: darkgray;
    margin-left: 5%;
  } */
  
  /* .mat-raised-button {
    margin-bottom: 10px;
    margin-left: 5%;
  } */
  
  /* .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  } */
  
  /* .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  } */
  

  
  /* mat-drawer {
    width: 260px;   
    margin-top: 0px;
  } */
  
  /* mat-drawer-container {
    height: 100%;
    background-color: #F6F9FA;
  
  } */
  
  /* .logo {
    text-align: center;
    padding: 3.6rem 1rem;
  
  } */
  
  /* .mat-icon {
    vertical-align: center;
    margin-right: 1rem;
  } */
  
  /* .mat-divider {
    border-top-width: 3px;
    border-color: antiquewhite;
  } */
  
  /* .mat-list-item {
    color: white !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
    border-radius: 5px;
    margin: 0 8px;
  
  } */
  
  /* .mat-list-item:hover {
    background: #025353 !important;
    font-family: 'lato';
  } */
  
  
  /* .form-control {
    border: 0px;
    font-family: 'lato';

  } */
  
  
  
  
  
  
 
  
  /* .mat-raised-button {
    background: #ed4544;  
    color: white;
    font-family: 'lato';
  } */
  

  
  
  .shadow-4 {  
    margin-left: 10px;
    height: 100px;
    width: 99%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    border-radius: 10px;   
    margin-top: 15px;
  
  }
  
  
  /* .title {
    margin-top: 1px;
    background: darkblue;
    color: white;
    height: 50px;  
    font-weight: bold;   
    position: relative;
    justify-content: space-between;
    display: flex;  
  } */

 

  /* .text {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
  } */
  
  /* .text h5 {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 2px;
  } */

  /* .sub-title {
    margin-top: 1px;
    justify-content: space-between;
    display: flex;
    margin-left: 4px;
    font-weight: bold;
  } */

  /* .sub-title button {  
    text-justify: auto;   
    float: right
  } */


  /* .form1 .mat-form-field{
    margin: 1px;
    border: 0px;
  width: 100%;  
  } */

  /* .form1 .mat-form-field input{    
  border: 0px;
  } */
