<mat-drawer-container>
    <mat-drawer mode="side" opened="true">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <br>

        <div class="row">


            <div class="title">
                <h3>Ankit Srivastava</h3>
                <h2>Welcome to Enablex Hire!</h2>
            </div>

        </div>
        <!--         
        <div class="col ">
            <h2 routerLink="/user" style="margin-top:10px; margin-left: 970px; cursor: pointer"><i class="fa fa-backward"></i> Users</h2>
        </div> -->
        <h3> <b> Candidate Profile </b></h3>

        <div class="shadow-4">
            <div class="row ">
                <div class="title1">
                    <div class="col-md-6">

                        <div class="col-md-12 contact-by">
                            <h3 class="font-size-6">Ankit Srivastava </h3>

                            <div class="mb-0 d-flex">
                                <p class="font-size-4 text-gray mb-0 mr-3">E-mail</p>&nbsp;
                                <p class="mb-0"><b><a href="mailto:ankit@gmail.com"
                                            class="text-black-2">ankit@gmail.com</a></b>
                                </p>
                            </div>

                            <div class="mb-0 mt-3 d-flex">
                                <p class="font-size-4 text-gray mb-0 mr-3">Added Date </p> &nbsp;
                                <p class="mb-1"><b> Dec 07,2022 </b></p>
                            </div>

                            <div class="mb-0 d-flex">
                                <p class="font-size-4 text-gray mb-0 mr-3">Added By </p>&nbsp;
                                <p class="mb-0"><b> Pervesh </b></p>
                            </div>

                            <div class="mb-0 d-flex">
                                <p class="font-size-4 text-gray mb-0 mr-3">Last Updated </p>&nbsp;
                                <p class="mb-0"><b> Dec 07, 2022 2:08 PM </b></p>
                            </div>

                            <!-- <div class="candidate-file candidate-file-edit" style="cursor: pointer; "><img
                            src="https://hire.enablex.io/images/profile-image.png" alt=""
                            class="avatar img_prv"
                            style="height: 100px; margin-left: 20px; ">
                        </div> -->
                        </div>
                    </div>
                    <div class="col md-6">

                        <div class="candidate-file candidate-file-edit" style="cursor: pointer; ">
                            <img src="https://hire.enablex.io/images/profile-image.png" alt=""
                                style="height: 100px; margin-left: 200px; margin-top: 30px; ">

                            <i class="fa fa-camera camera-edit" style="margin-top: 1px;margin-left:200px;"></i>

                        </div>


                        <div id="userActions" class="square-144 m-auto px-6 mb-7">
                            <input type="file" id="profile_image" name="profile_image"
                                class="candidtae_profile_img candidtae_profile_img_edit">
                            <span id="mgs_ta" class="text-danger"></span>
                            <a title="Edit Candidate Profile" data-toggle="tooltip" data-placement="top"
                                id="edit_candidate_profile" href="https" class="mb-2 mr-4">
                                <button type="button" class="btn btn-labeled"><span class="btn-label"><i
                                            class="fa fa-edit"></i></span>Edit
                                </button></a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">


                <div class="mb-5">
                    <h3 class="font-size-6">Associated Positions</h3>
                    <div class="scroll-table">
                        <table id="interview-table" class="table table-striped dashboard-table mb-0 review">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Position</th>
                                    <th>Screening</th>
                                    <th>Screening-Status</th>
                                    <th>Interview</th>
                                    <th>Interview-Status</th>
                                    <th>Timeline</th>
                                    <th>Share</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><a href="https://hire.enablex.io/client/campaign/show/175"
                                            title="MEAN STACK Xeedance" data-toggle="tooltip"
                                            class="media min-width-px-235 align-items-center position-text">MEAN STACK
                                            Xeedance</a></td>
                                    <td>
                                        <div class="download-screening"><a href="javascript:void(0)"
                                                data-link="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/6315914135a2665fcd708d25/6315950d5d38174a554b6e33/2022/12/63908933e39607cde4d39a48/744417002692/live_744417002692_1.MP4"
                                                title="Video available to play." data-toggle="modal"
                                                data-target="#video_1" class="mr-2"><i class="fa fa-play"></i></a> <a
                                                href="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/6315914135a2665fcd708d25/6315950d5d38174a554b6e33/2022/12/63908933e39607cde4d39a48/744417002692/live_744417002692_1.MP4"
                                                title="Download this recording file" download=""
                                                class="inner-screen-download mr-2"><i class="fa fa-download"></i></a> <a
                                                data-toggle="modal" data-target="#candidateFaceAiModal"
                                                href="javascript:void(0)" data-campaign="175" data-candidate="92259"
                                                data-screening="7882" class="inner-screen-download AI-download mr-2">
                                                AI
                                            </a>
                                            <div id="video_1" tabindex="-1" role="dialog" aria-labelledby="video_1Label"
                                                aria-hidden="true" class="modal fade">
                                                <div role="document" class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header"><span><img
                                                                    src="https://hire.enablex.io/images/logo.png"
                                                                    class="modal_logo"></span> <button type="button"
                                                                data-dismiss="modal" aria-label="Close"
                                                                class="close"><span aria-hidden="true">×</span></button>
                                                        </div>
                                                        <div class="modal-body"><video width="100%" height="100%"
                                                                controls="controls">
                                                                <source
                                                                    src="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/6315914135a2665fcd708d25/6315950d5d38174a554b6e33/2022/12/63908933e39607cde4d39a48/744417002692/live_744417002692_1.MP4"
                                                                    type="video/mp4">
                                                            </video></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><a title="Candidate Screening Review" href="javascript:void(0)"
                                            data-toggle="modal" data-target="#screeningReviewModal_1"> Feedback
                                            Pending</a>
                                        <div id="screeningReviewModal_1" role="dialog" aria-labelledby="video_1 7882"
                                            class="modal fade">
                                            <div class="modal-dialog review-modal">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 style="width: 100%;">Screening Feedback (0)</h4> <span
                                                            class="review"><a data-candidate="Sudhanshu " data-id="7882"
                                                                href="javascript:void(0)" class="screeningviewreview"
                                                                style="text-decoration: underline;">Post Feedback
                                                                ?</a></span> <button type="button" data-dismiss="modal"
                                                            class="close s_closeReview">×</button>
                                                    </div>
                                                    <div class="modal-body scroll-table scroll-table-edit pt-0 pb-0"
                                                        style="max-height: 240px; overflow: scroll;">
                                                        <div class="row">
                                                            <h6 class="ml-3 pt-2 pb-0 mb-0">Feedack Pending</h6>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer"><button type="button" data-dismiss="modal"
                                                            class="btn btn-primary">Close</button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        N/A
                                    </td>
                                    <td>
                                        N/A
                                    </td>
                                    <td><a title="View Candidate Timeline" data-toggle="tooltip" data-placement="top"
                                            href="javascript:void(0)" data-campaign="175" data-candidate="92259"
                                            data-interview="" data-screening="7882" class="view-candidate-timeline">
                                            Timeline
                                        </a></td>
                                    <td><a title="Share Timeline" href="javascript:void(0)" data-toggle="modal"
                                            data-target="#timelineSharewModal_1" class="text-done">Share</a>
                                        <div id="timelineSharewModal_1" tabindex="-1" role="dialog"
                                            aria-labelledby="interviewReviewModalLabel_1" aria-hidden="true"
                                            class="modal fade">
                                            <div role="document" class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 id="exampleModalLabel" class="modal-title">Share</h5>
                                                        <button type="button" data-dismiss="modal" aria-label="Close"
                                                            class="close"><span aria-hidden="true">×</span></button>
                                                    </div>
                                                    <form method="POST" id="store_interview_review"
                                                        action="https://hire.enablex.io/share/candidate/92259/campaign/175/timeline">
                                                        <input type="hidden" name="_token"
                                                            value="pYsv90FZYT00EVcwVvgdN9qvnW4Ldr58ixSqvnD3">
                                                        <div class="modal-body">
                                                            <div class="col-md-12">
                                                                <div class="form-group post-job-form"><label
                                                                        for="first_name"
                                                                        class="col-form-label text-md-right font-weight-semibold">First
                                                                        Name<span>*</span></label> <input
                                                                        id="first_name" type="text" name="first_name"
                                                                        value="" required="required"
                                                                        autofocus="autofocus"
                                                                        placeholder="Enter First Name"
                                                                        aria-required="true" class="form-control"></div>
                                                                <div class="form-group post-job-form"><label
                                                                        for="last_name"
                                                                        class="col-form-label text-md-right font-weight-semibold">Last
                                                                        Name<span>*</span></label> <input id="last_name"
                                                                        type="text" name="last_name" value=""
                                                                        required="required" autocomplete="campaign"
                                                                        autofocus="autofocus"
                                                                        placeholder="Enter Last Name"
                                                                        aria-required="true" class="form-control"></div>
                                                                <div class="form-group post-job-form"><label for="email"
                                                                        class="col-form-label text-md-right font-weight-semibold">Email<span>*</span></label>
                                                                    <input id="email" type="email" name="email" value=""
                                                                        required="required" autocomplete="campaign"
                                                                        autofocus="autofocus"
                                                                        placeholder="Enter Email Address"
                                                                        aria-required="true" class="form-control"></div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer"><button type="submit"
                                                                class="btn btn-primary">Share</button></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div id="timeline"><div class="row mb-22">
                    <div class="col-md-12">
                        <h3 class="font-size-6">Timeline For Position: MEAN STACK Xeedance</h3>
                        <div class="scroll-table scroll-table-edit">
                            <div class="timeline-centered timeline-sm">
                            <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time"><span>Dec 07,2022</span><span>Screening Invited</span></time>
                            <div class="timeline-icon"><i class="fa fa-paper-plane"></i></div>
                            <div class="timeline-data">
                                <p>Invited By : Pervesh </p>
                            </div>
                        </div>
                    </article>
                        <article class="timeline-entry">
                            <div class="timeline-entry-inner">
                                <p class="timeline-data">Face AI Scorecard</p>
                                <div class="timeline-data  ">
                                    <table class="table table-bordered mb-0">

                                        <thead>
                                            <tr>
                                                <th>Attention</th><th>Confident</th><th>Interested</th><th>Determined</th><th>Enthusiastic</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr><td>7.4</td><td>0.0</td><td>0.0</td><td>3.6</td><td>1.5</td>
                                        </tr></tbody>
                                    </table>
                                </div>
                            </div>
                        </article>
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                        <div class="timeline-icon"><i class="fa fa-video"></i></div>
                            <div class="timeline-data">
                                <p> Recording Date : Dec 07, 2022 12:38 PM</p>
                                <p> Duration : 00:03:22</p>
                                <div class="download-screening  mt-2 mb-2">
                                    <a href="javascript:void(0)" class="mr-2" data-link="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/6315914135a2665fcd708d25/6315950d5d38174a554b6e33/2022/12/63908933e39607cde4d39a48/744417002692/live_744417002692_1.MP4" title="Video available to play." data-toggle="modal" data-target="#video_screening_timeline">
                                        <i class="fa fa-play"></i>
                                    </a>
                                    <a href="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/6315914135a2665fcd708d25/6315950d5d38174a554b6e33/2022/12/63908933e39607cde4d39a48/744417002692/live_744417002692_1.MP4" class="inner-screen-download" title="Download this recording file" download="">
                                        <i class="fa fa-download"></i>
                                    </a>
                                    <div class="modal fade screening_timeline_video_modal" id="video_screening_timeline" tabindex="-1" role="dialog" aria-labelledby="video_screening_timelineLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <span><img class="modal_logo" src="https://hire.enablex.io/images/logo.png"></span>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <video width="100%" height="100%" controls="">
                                                        <source src="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/6315914135a2665fcd708d25/6315950d5d38174a554b6e33/2022/12/63908933e39607cde4d39a48/744417002692/live_744417002692_1.MP4" type="video/mp4">
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article> <div class="timeline-entry"><div class="timeline-entry-inner"><div class="timeline-data"><div class="review mb-5"><a title="Post Screening Feedback" data-id="7882" data-candidate="92259" data-toggle="modal" href="javascript:void(0);" class="mb-2 mr-4 screeningviewreview">
            <button type="button" class="btn btn-labeled "><span class="btn-label label-external"><i class="fa fa-comments-o"></i></span>Post Feedback</button>
            </a></div></div></div></div>
                            </div>
                        </div>
                    </div>
                </div></div>

                <!-- </div> -->
            </div>
        </div>
    </mat-drawer-content>


</mat-drawer-container>