<mat-drawer-container>
    <mat-drawer mode="side" opened="true">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <app-header></app-header>

        <!-- <div class="main-content"> -->

        <div class="row sub-title">
            <div class="col-md-8 text">
                <h5>You can edit all details for the Position from this page</h5>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8">
                <div class="shadow-4">

                    <div class="p-20 border-bottom">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="media align-items-center">
                                    <div class="text-blue bg-blue-opacity-1 circle-56 font-size-6 mr-7"
                                        style="margin: inherit;"><i class="fa fa-briefcase"></i></div>
                                    <div>
                                        <span class="font-size-4 text-gray">Position</span>

                                        <h3 class="font-size-6 mb-0">Front End Developer <a title="Edit Position "
                                                data-toggle="tooltip" data-placement="top"
                                                href="https://hire.enablex.io/client/campaign/edit/15" class="mb-2">

                                                <i class="fa fa-edit mr-2 font-size-4"></i></a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-right">
                                <div class="media justify-content-md-end">
                                    <span class="font-size-4 text-gray mb-0">Start Date</span> &nbsp;&nbsp;
                                    <p class="font-size-4 text-gray mb-0"><b>Dec 07, 2022</b></p>
                                </div> <br>
                                <div class="media justify-content-md-end">
                                    <span class="font-size-4 text-gray mb-0">Closing Date</span> &nbsp;&nbsp;
                                    <p class="font-size-4 text-gray mb-0"><b>Dec 17, 2022</b></p>
                                </div>
                            </div>

                        </div>
                        <div class="row pt-9 align-items-start">
                            <div class="col-9 mt-1">

                                <button class=" btn bg-regent-opacity-15 btn-outline-mercury bg-white"
                                    routerLink="/screeningInvitee">Screening Invitees</button>
                            </div>
                        </div>
                    </div>




                    <div class="job-desc-content p-20 border-bottom">
                        <h4>Position Description</h4>
                        <p class="text-gray">Position: Meanstack developer having skills in Angular Js, Node js, Mongo
                            DB<br><br> <br><br>
                            What you’ll be do: <br><br> <br><br>
                            • Mean Stack Programmer will be part of a collaborative project team <br><br>
                            • Will leverage several proprietary and standard tools to implement technical solutions.
                            <br><br>
                            • Will also be responsible for contribution towards technical documentation related to
                            assigned
                            projects <br><br>
                            • Responsible for understanding business requirements, providing estimation, developing
                            solution,
                            writing unit test scenarios and fixing defects for assigned applications. <br><br> <br><br>
                            What you’ll bring to the team: <br><br>
                            • You have 5- 8 Years of experience working on Mean Stack based applications <br><br>
                            • You have good knowledge of OOPS and Meanstack concepts <br><br>
                            • You have strong programming and troubleshooting skills using Angular Js, Node js, Mongo
                            DB<br><br>
                            • You have good understanding of Web API concepts
                        </p>
                    </div>



                    <div class="job-desc-content p-20 border-bottom">
                        <h4>Position Face AI Components
                            <a title="Edit Face AI" data-toggle="tooltip" data-placement="top" class="mb-2"><i
                                    class="fa fa-edit mr-2 font-size-4"></i></a>
                        </h4>
                        <p class="text-gray">Attention, Confident, Interested, Determined, Enthusiastic</p>
                    </div>


                    <div class="job-desc-content p-20 border-bottom">
                        <h4>Assign To User</h4>
                        <p class="text-gray"> Salman Khan</p>
                    </div>

                    <div class="job-desc-content p-20 border-bottom">
                        <h4>Instruction for Candidate</h4>
                        <p class="text-gray">1. Please ensure you are in a well lit space and your face is clearly
                            visible on
                            the camera.<br>
                            2. Please ensure you have good internet connectivity on your phone/laptop before you
                            initiate the
                            process.<br>
                            3. Please speak clearly and sufficiently loudly to ensure your voice is recorded
                            properly.<br>
                            4. Please follow instructions on the screen properly.<br>
                            5. Press the STOP button only after completing ALL questions. Once you press STOP you cannot
                            go
                            back.<br>
                            6. Questions will appear on screen. Start answering after reading the question.<br>
                            7. There is a time limit for each question. Please be mindful of that.</p>
                    </div>


                    <div class="p-20 border-bottom">
                        <div class="cand-ques-wrapper">
                            <h4>Screening Questions</h4>
                            <h5>These questions will be displayed on the screen for the candidate to answer in
                                the
                                specific time duration</h5>
                            <h5 style="color: rgb(237, 28, 36); margin: 15px 0px;">Total time will be <b>180 </b>seconds
                            </h5>
                            <div class="inside-cand-ques-wrapper">
                                <p class="cand-ques text-gray"><b>Q.1 </b> Q1. Tell us something about yourself,
                                    specifically
                                    talking about your professional experience.
                                    (60 Seconds)</p>
                            </div>
                            <div class="inside-cand-ques-wrapper">
                                <p class="cand-ques text-gray"><b>Q.2 </b> Please tell us about your technical expertise
                                    and key
                                    features/aspects you have used in your projects.
                                    (60 Seconds)</p>
                            </div>
                            <div class="inside-cand-ques-wrapper">
                                <p class="cand-ques text-gray"><b>Q.3 </b> Tell us something about your most challenging
                                    project. What was your specific contribution to that?
                                    (60 Seconds)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="shadow-5">

                    <div class="bg-white shadow-8 rounded">
                        <h4 class="p-20 border-bottom text-center">Insights</h4>
                        <div class="statis-wrapper">
                            <div class="inside-statis border-bottom p-20">
                                <h5>Screening Test</h5>
                                <table class="table table-striped ">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Invited </th>
                                            <td>
                                                <a class="font-size-3 font-weight-bold" style="color: rgb(33, 37, 41);">
                                                    4
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Cancelled</th>
                                            <td>
                                                <a class="font-size-3 font-weight-bold" style="color: rgb(33, 37, 41);">
                                                    0
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Pending</th>
                                            <td><a class="font-size-3 font-weight-bold" style="color: rgb(33, 37, 41);">
                                                    1
                                                </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="bg-white shadow-8 rounded">
                            <!-- <h4 class="p-20 border-bottom text-center">Insights</h4> -->
                            <div class="statis-wrapper">
                                <div class="inside-statis  p-20">
                                    <!-- <h5>Screening Test</h5> -->
                                    <table class="table table-striped ">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Review(2) </th>
                                                <td>
                                                    <a class="font-size-3 font-weight-bold" style="color: rgb(33, 37, 41);">
                                                        Open/Closed
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Feedback Pending</th>
                                                <td>
                                                    <a class="font-size-3 font-weight-bold" style="color: rgb(33, 37, 41);">
                                                     3/0
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Shortlisted</th>
                                                <td><a class="font-size-3 font-weight-bold" style="color: rgb(33, 37, 41);">
                                                        0/0
                                                    </a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Hold</th>
                                                <td><a class="font-size-3 font-weight-bold" style="color: rgb(33, 37, 41);">
                                                        0/0
                                                    </a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Rejected</th>
                                                <td><a class="font-size-3 font-weight-bold" style="color: rgb(33, 37, 41);">
                                                        0/0
                                                    </a></td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                    <br>
                                    <a class="btn bg-regent-opacity-15 btn-outline-mercury bg-white" >
                                        <i class="fa fa-users show_report mr-1"></i> Report</a>
                                    &nbsp;
                                    <a routerLink="/profileInvite"
                                        class="btn bg-regent-opacity-15 btn-outline-mercury bg-white">
                                        <i class="fa fa-user-plus mr-1"></i> Invite
                                    </a>
                                </div>
                            </div>


                            <!-- <div class="statis-wrapper"></div>
                            <div class="border-bottom text-center p-20">
                                <table class="table table-striped ">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Review(2)</th>
                                            <td>Open/Closed</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Feedback Pending</th>
                                            <td><a class="font-size-3 font-weight-bold" style="color: rgb(33, 37, 41);">
                                                    2
                                                </a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Shortlisted</th>
                                            <td><a class="font-size-3 font-weight-bold text-done">
                                                    0
                                                </a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hold</th>
                                            <td><a class="font-size-3 font-weight-bold" style="color: rgb(33, 37, 41);">
                                                    0
                                                </a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Rejected</th>
                                            <td><a class="font-size-3 font-weight-bold text-red-2">
                                                    0
                                                </a></td>
                                        </tr>

                                    </tbody>

                                </table> -->

                                

                                <!-- <a class="btn bg-regent-opacity-15 btn-outline-mercury bg-white" style="margin: 10px; margin-left: 10px;">
                                    <i class="fa fa-users show_report mr-1"></i> Report</a>
                                &nbsp;
                                <a routerLink="/profileInvite"
                                    class="btn bg-regent-opacity-15 btn-outline-mercury bg-white">
                                    <i class="fa fa-user-plus mr-1"></i> Invite
                                </a> -->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        <!-- </div> -->



    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>