/* .mat-form-field {
  width: 90%; 
  display: block;
  margin-left: 5%;
  border: none;
  margin-top: 5%;
} */

/* .mat-dialog-title {
  color: darkgray;
  margin-left: 5%;
} */

/* .mat-raised-button {
  margin-bottom: 10px;
  margin-left: 5%;
} */




/* mat-drawer {
  width: 255px;
  margin-top: 0px;
} */

/* mat-drawer-container {
  height: 91%;
  background-color: #F6F9FA;

} */

/* mat-drawer-content {
  overflow-x: hidden;
} */






/* .form-control {
  border: 0px;
  font-family: 'lato';
} */


/* .mat-raised-button {
  background: #ed4544;
  color: white;
  font-family: 'lato';
} */

/* table tr th td{
  border: 1px;
  width: 100%;
} */

/* table{ 
  width: 100%;
  border:1px solid rgb(214, 208, 208);  
} */

/* table tr td {
  border: 1px;
  width: 100%;
} */

/* .padd_colx5 {
  padding: 0px 5px;
} */


/* .shadow-4 {
  margin-left: 25px;
  height: 98.5%;
  width: 650px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
  border-radius: 10px;
  margin-top: 15px;
  background: white;
}

.shadow-5 {
  margin-left: 50px;
  height: 580px;
  width: 350px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  border-radius: 10px; 
  margin-top: 15px;
  margin-left: -35px;
  background: white;
} */



/* .sub-title {
  margin-top: 25px;
  justify-content: space-between;
  display: flex;
  margin-left: 4px;
  font-weight: bold;
} */


/* .text {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 12px;
} */

/* .text h5 {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  margin-top: 2px;
} */

/* h4 {
  font-weight: bold;
} */

/* h5 {
  font-weight: 500;
  font-size: 18px;
} */


/* .pt-9[_ngcontent-hjo-c213],
.py-9[_ngcontent-hjo-c213] {
  padding-top: 4px !important;
} */


/* .media {
  display: flex;
  align-items: center;
} */




/* .mr-7,
.mx-7 {
  margin-right: 1.25rem !important;
} */



/* .btn-outline-mercury {
  border-color: #e5e5e5 !important;
  border: 1px solid #e5e5e5 !important;
  background: none !important;
}

.btn:hover {
  background-color: #ed4544 !important;
  color: rgb(253, 252, 252) !important;
  margin: 3px;
} */

/* .p-20 {
  padding: 20px;
 
} */

/* .text-center {
  text-align: center !important;
} */

/* .border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
} */

/* .circle-56 {
  max-width: 45px;
  min-width: 45px;
  max-height: 45px;
  min-height: 45px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: 0% 0%;
} */

/* .bg-blue-opacity-1 {
  background-color: rgba(71, 67, 219, 0.1);
} */

/* a {
  color: #3490dc;
  text-decoration: none;
  background-color: transparent;
} */



/* .pt-9,
.py-9 {
  padding-top: 20px !important;
} */