

/* .download-screening a {
    background: #ed1c24;
    padding: 2px 7px;
    border-radius: 5px;
    border: 1px solid #ed1c24;
       height: 25px;
    line-height: 26px;
    position: relative;
    color: #fff;
    margin-left: 2px;
    margin-right: 12px;
} */




/* .p-20 {
    padding: 18px;
} */



/* .shadow-8 {
    box-shadow: 2px 2px 4px rgb(130 130 130 / 16%);
    border-radius: 10px;
    
    border: 1px;
    margin-left: 15px;
    height: 280px;
 
    margin-top: 40px;
    margin-bottom: 30px;
    width:auto !important;
} */


/* h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
} */

/* .Announcement-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    min-height: 76px;
} */

/* .more-calender {
    text-align: right;
    display: block;
    color: rgb(241, 61, 61);
} */

/* a {
    color: #3490dc;
    text-decoration: none;
    background-color: transparent;
}
.a_text {
    color: #212529;
}
a:hover {
    color: #1d68a7;
    text-decoration: none;
} */

/* .screen-date {
    font-size: 14px;
} */

/* .text-gray {
    color: #6b6e6f !important;
} */

/* img{
    cursor: pointer;
} */

