/* .mat-drawer-container {
    background-color: white;
    color: rgba(0,0,0,.87);
} */

/* .mat-drawer-container {
    background-color: #F6F9FA;
    color: rgba(0, 0, 0, .87);
    height: 100%;
    margin-top: 15px;
}

.mini-stats {
    background: #eff3fb;
    background-color: #fff;
    border-radius: 5px;
    float: left;
    padding: 25px 30px;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.mini-stats>span {
    border: 1px solid;
    border-radius: 50%;
    color: #fff;
    float: left;
    font-size: 20px;
    height: 57px;
    line-height: 56px;
    margin-right: 15px;
    text-align: center;
    width: 57px;
    font-family: Lato-Black;
}

.menu-scroll {
    overflow-x: none;
    height: 700.5px;
}

.red-skin {
    background-color: #409da9;
    border-color: #409da9 !important;
}

.sky-skin {
    background-color: #63d6ff;
    border-color: #28c4fc !important;
}

.purple-skin {
    background-color: #6e6eff;
    border-color: #7373ff !important;
} */




.shadow-4 {   
    margin-left: 30px;
    height: 300px;
    width: 490px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: center; */
    border-radius: 10px;
    /* align-items: center; */
    margin-top:50px;  
    border: 0px;
    
  }


/* 
 .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}
.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: 1px solid rgba(0,0,0,.12); */

/* } */

/* .Announcement-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    min-height: 76px;
    margin-left: 20px;
} */

/* .more-calender {
    text-align: right;
    display: block;
    color: rgb(241, 61, 61);
} */
/* a {
    color: #3490dc;
    text-decoration: none;
    background-color: transparent;
} */

/* .mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
    margin-left: 10px;
    margin-top: 10px; */

/* } */
/* h3, .h3 {
    font-size: 1.575rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 10px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
} */


/* .col-md- */

.sha-1 a{
    text-decoration: none;
}

.sha-1 .col-md-4{
   margin-top: 15px;
}

.mat-tab-label {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 15px !important;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

h3, .h3 {
    font-size: 1.575rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}