<mat-drawer-container>
    <mat-drawer mode="side" opened="true">
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <app-header></app-header>
    
    <!-- <mat-drawer-content> -->
    <!-- <ngx-loading [show]="loading"></ngx-loading> -->
    <div class="main-content">


        <div class="row">            
            <div class="col-md-6">

                <div class="shadow-4">
                <div class="tab">
                    <mat-tab-group animationDuration="0ms" style="width: 470px;" class="mat-tab-header-pagination-disabled">
                        <mat-tab label="OverAll Usage"></mat-tab>
                        <mat-tab label="This Month"></mat-tab>
                        <mat-tab label="Last Month"></mat-tab>
                    </mat-tab-group>
                    </div>

                    <div class="row sha-1">
                        <!-- 1 -->
                        <div class="col-md-4">
                            <a href="https">
                                <div class="mt-5 text-center">
                                    <div class="text-blue bg-blue-opacity-1 circle-56 font-size-6 mb-2"><img
                                            src="assets/image/position-circle.png"></div>
                                    <p class="font-size-4 font-size-16 text-black-2 mb-2">Positions
                                    </p>
                                    <h5
                                        class="font-size-20 line-height-inherit font-weight-semibold text-black-2 line-height-reset font-weight-bold mb-1">
                                        <span class="counter dashboard-count">41</span>
                                    </h5>
                                </div>
                            </a>
                        </div>
                      
                        <div class="col-md-4">
                            <a href="http">
                                <div class="mt-5 text-center">
                                    <div class="text-blue bg-blue-opacity-1 circle-56 font-size-6 mb-2">
                                        <img src="assets/image/screenings-circle.png">
                                    </div>
                                    <p class="font-size-4 font-size-16 text-black-2 mb-2">Screening Done </p>
                                    <h5
                                        class="font-size-20 line-height-inherit font-weight-semibold text-black-2 line-height-reset font-weight-bold mb-1">
                                        <span class="counter dashboard-count">41</span>
                                    </h5>
                                </div>
                            </a>
                        </div>

                     
                        <div class="col-md-4">
                            <a href="https">
                                <div class="mt-5 text-center">
                                    <div class="text-blue bg-blue-opacity-1 circle-56 font-size-6 mb-2">
                                        <img src="assets/image/interviews-circle.png" >
                                    </div>
                                    <p class="font-size-4 font-size-16 text-black-2 mb-2">interview Done                                    </p>
                                    <h5
                                        class="font-size-20 line-height-inherit font-weight-semibold text-black-2 line-height-reset font-weight-bold mb-1">
                                        <span class="counter dashboard-count">41</span>
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                </div>


            <!-- </div> -->
        <!-- </div> -->

        
        <div class="shadow-4">
        <div class="col-md-6">

                <div class="bg-white shadow-8 p-20 rounded mb-4 dashboard-screen">
                    <h3 class="mb-4 " style="margin-left: 30px; margin-top: 50px;">Concluded Screenings</h3>
                    <div class="Announcement-wrapper" style="line-height: initial;">
                        <div class="download-screening"><a href="javascript:void(0)"
                                data-link="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/6315914135a2665fcd708d25/6315950d5d38174a554b6e33/2022/12/63908933e39607cde4d39a48/744417002692/live_744417002692_1.MP4"
                                data-toggle="modal" data-target="#video_1" class="mr-2"><i class="fa fa-play"></i></a>
                            <div id="video_1" tabindex="-1" role="dialog" aria-labelledby="video_1Label"
                                aria-hidden="true" class="modal fade">
                                <div role="document" class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3><a href="https://hire.enablex.io/candidate-360/OTIyNTk=/profile">Sudhanshu
                                                </a></h3> <button type="button" data-dismiss="modal" aria-label="Close"
                                                class="close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body"><video width="100%" height="100%" controls="controls">
                                                <source
                                                    src="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/6315914135a2665fcd708d25/6315950d5d38174a554b6e33/2022/12/63908933e39607cde4d39a48/744417002692/live_744417002692_1.MP4"
                                                    type="video/mp4">
                                            </video></div>
                                    </div>
                                </div>
                            </div> <a
                                href="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/6315914135a2665fcd708d25/6315950d5d38174a554b6e33/2022/12/63908933e39607cde4d39a48/744417002692/live_744417002692_1.MP4"
                                title="Download this recording file" download="" class="inner-screen-download"><i
                                    class="fa fa-download"></i></a>
                        </div>
                        <div class="announ-content">
                            <p class="mb-1"><a href="https://hire.enablex.io/candidate-360/OTIyNTk=/profile"
                                    class="a_text">
                                    Sudhanshu
                                </a> <span class="screen-date text-gray">Dec 07, 2022 6:08 PM</span></p>
                            <h5 class="mb-1"><a href="https://hire.enablex.io/client/campaign/show/175" class="a_text">
                                    MEAN STACK Xeedance
                                </a></h5>
                        </div>
                    </div>
                    <div class="Announcement-wrapper" style="line-height: initial;">
                        <div class="download-screening"><a href="javascript:void(0)"
                                data-link="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/6315914135a2665fcd708d25/6315950d5d38174a554b6e33/2022/12/63906616ab83ba3c85163006/603271002739/live_603271002739_1.MP4"
                                data-toggle="modal" data-target="#video_2" class="mr-2"><i class="fa fa-play"></i></a>
                            <div id="video_2" tabindex="-1" role="dialog" aria-labelledby="video_2Label"
                                aria-hidden="true" class="modal fade">
                                <div role="document" class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3><a href="https://hire.enablex.io/candidate-360/OTIyNTg=/profile">Ajharudin
                                                </a></h3> <button type="button" data-dismiss="modal" aria-label="Close"
                                                class="close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body"><video width="100%" height="100%" controls="controls">
                                                <source
                                                    src="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/6315914135a2665fcd708d25/6315950d5d38174a554b6e33/2022/12/63906616ab83ba3c85163006/603271002739/live_603271002739_1.MP4"
                                                    type="video/mp4">
                                            </video></div>
                                    </div>
                                </div>
                            </div> <a
                                href="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/6315914135a2665fcd708d25/6315950d5d38174a554b6e33/2022/12/63906616ab83ba3c85163006/603271002739/live_603271002739_1.MP4"
                                title="Download this recording file" download="" class="inner-screen-download"><i
                                    class="fa fa-download"></i></a>
                        </div>
                        <div class="announ-content">
                            <p class="mb-1"><a href="https://hire.enablex.io/candidate-360/OTIyNTg=/profile"
                                    class="a_text">
                                    Ajharudin
                                </a> <span class="screen-date text-gray">Dec 07, 2022 3:38 PM</span></p>
                            <h5 class="mb-1"><a href="https://hire.enablex.io/client/campaign/show/175" class="a_text">
                                    MEAN STACK Xeedance
                                </a></h5>
                        </div>
                    </div> <a href="https://hire.enablex.io/client/calender/screenings" class="more-calender"><i
                            class="fas fa-angle-right"></i> More...</a>
                </div>

            </div>
        </div>
    
    </div>
</div>


<!-- row-2 -->
    <div class="row">

        <div class="shadow-4" >
        <div class="col-md-6">
                <h3 class="mb-4" >Upcoming Interviews</h3>
                <p style="margin-left: 30px;">There is no upcoming interviews</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="shadow-4">

                <div class="bg-white shadow-8 p-20 rounded dashboard-screen">
                    <h3 class="mb-4">Concluded Interviews</h3>
                    <div class="Announcement-wrapper" style="line-height: initial;">
                        <div class="download-screening"><a href="javascript:void(0)"
                                data-link="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/5eaed00e90ef8079c8042fc3/628016f9019f726d057fdd24/2022/11/636ca482a91013e0e0a9876a/440290000452/live_440290000452_1.MP4"
                                title="Video available to play." data-toggle="modal" data-target="#video_9999"
                                class="mr-2"><i class="fa fa-play"></i></a></div>
                        <div id="video_9999" tabindex="-1" role="dialog" aria-labelledby="video_9999Label"
                            aria-hidden="true" class="modal fade">
                            <div role="document" class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3>Sukhdev Sukhdev</h3> <button type="button" data-dismiss="modal"
                                            aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body multiple-video-playlist"><video id="videoplaylist_9999"
                                            preload="auto" tabindex="0" controls="controls" class="videoplaylist">
                                            <source
                                                src="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/5eaed00e90ef8079c8042fc3/628016f9019f726d057fdd24/2022/11/636ca482a91013e0e0a9876a/440290000452/live_440290000452_1.MP4"
                                                type="video/mp4">
                                        </video>
                                        <ul id="playlist_9999" class="playlist">
                                            <li class="active"><a
                                                    href="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/5eaed00e90ef8079c8042fc3/628016f9019f726d057fdd24/2022/11/636ca482a91013e0e0a9876a/440290000452/live_440290000452_1.MP4"
                                                    onclick="init(9999, 1, 0 ); return false;">
                                                    Session 1
                                                </a></li>
                                            <li><a href="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/5eaed00e90ef8079c8042fc3/628016f9019f726d057fdd24/2022/11/636ca482a91013e0e0a9876a/949850000458/live_949850000458_1.MP4"
                                                    onclick="init(9999, 2, 1 ); return false;">
                                                    Session 2
                                                </a></li>
                                            <li><a href="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/5eaed00e90ef8079c8042fc3/628016f9019f726d057fdd24/2022/11/636ca482a91013e0e0a9876a/907356000454/live_907356000454_1.MP4"
                                                    onclick="init(9999, 3, 2 ); return false;">
                                                    Session 3
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="announ-content">
                            <p class="mb-1"><a href="https://hire.enablex.io/candidate-360/OTIxNzk=/profile"
                                    class="a_text">
                                    Sukhdev Sukhdev
                                </a> <span class="screen-date text-gray">Nov 10, 2022 1:06 PM</span></p>
                            <h5 class="mb-1"><a href="https://hire.enablex.io/client/campaign/show/154" class="a_text">
                                    Dot Net Full Stack New
                                </a></h5>
                        </div>
                    </div>
                    <div class="Announcement-wrapper" style="line-height: initial;">
                        <div class="download-screening"><a href="javascript:void(0)"
                                data-link="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/5eaed00e90ef8079c8042fc3/628016f9019f726d057fdd24/2022/11/636ca423a91013e0e0a98767/907356000463/live_907356000463_1.MP4"
                                title="Video available to play." data-toggle="modal" data-target="#video_2_interview"
                                class="mr-2"><i class="fa fa-play"></i></a> <a
                                href="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/5eaed00e90ef8079c8042fc3/628016f9019f726d057fdd24/2022/11/636ca423a91013e0e0a98767/907356000463/live_907356000463_1.MP4"
                                title="Download this recording file" download="" class="inner-screen-download mr-2"><i
                                    class="fa fa-download"></i></a></div>
                        <div id="video_2_interview" tabindex="-1" role="dialog" aria-labelledby="video_2_interviewLabel"
                            aria-hidden="true" class="modal fade">
                            <div role="document" class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header"><span><img src="https://hire.enablex.io/images/logo.png"
                                                class="modal_logo"></span> <button type="button" data-dismiss="modal"
                                            aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body"><video width="100%" height="100%" controls="controls">
                                            <source
                                                src="https://portal.enablex.io/rwrecordings/IN/westindia/recordings/5eaed00e90ef8079c8042fc3/628016f9019f726d057fdd24/2022/11/636ca423a91013e0e0a98767/907356000463/live_907356000463_1.MP4"
                                                type="video/mp4">
                                        </video></div>
                                </div>
                            </div>
                        </div>
                        <div class="announ-content">
                            <p class="mb-1"><a href="https://hire.enablex.io/candidate-360/OTIxODU=/profile"
                                    class="a_text">
                                    GIRIJA PRASAD
                                </a> <span class="screen-date text-gray">Nov 10, 2022 1:09 PM</span></p>
                            <h5 class="mb-1"><a href="https://hire.enablex.io/client/campaign/show/154" class="a_text">
                                    Dot Net Full Stack New
                                </a></h5>
                        </div>
                    </div> <a href="https://hire.enablex.io/client/calender/interviews" class="more-calender"><i
                            class="fas fa-angle-right"></i> More...</a>
                </div>
            </div>
        </div>
    </div>


    