

.main-content {
    padding: 0px 20px;
    /* padding: 66px 27px 106px 0px; */
    /* text-align: center; */
    font-family: 'open-sans';
    /* background-color: #F6F9FA; */

  }
  
  mat-drawer-container {
    background-color: #F6F9FA;
    color: rgba(0, 0, 0, .87);
    height: 91%;
  }
  
  mat-drawer {
    /* width: 255px;    */
    margin-top: 0px;
  }
  mat-drawer-content {
    overflow-x: hidden;
    overflow-y: auto;
  }


/* .shadow-4 {   
    margin-left: 30px;
    height: 300px;
    width: 490px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    border-radius: 10px;
    
    margin-top:50px;  
    border: 0px;
    
  } */

/* .mat-tab-label {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 15px !important;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
} */




/* h3 {
    font-size: 1.575rem;
    margin-top: 10px;
    margin-left: 20px;
} */
















.download-screening a {
    background: #ed1c24;
    padding: 2px 7px;
    border-radius: 5px;
    border: 1px solid #ed1c24;
    /* display: flex; */
    /* width: 15px; */
    height: 25px;
    line-height: 26px;
    position: relative;
    color: #fff;
    margin-left: 2px;
    margin-right: 12px;
}


/* .fa {
    display: inline-block;
    font: normal normal normal 10px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.dashboard-screen {
    min-height: 310px;
}

.rounded {
    border-radius: 0.625rem !important;
}
.p-20 {
    padding: 20px;
}
.bg-white {
    background-color: #fff !important;
}
.shadow-8 {
    box-shadow: 2px 2px 4px rgb(130 130 130 / 16%);
    border-radius: 10px;
    
    margin-top:40px;  
    border: 0px;
    margin-left: 10px;
    /* height: 300px; */
    width: 520px;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.rounded {
    border-radius: 0.25rem !important;
}
.bg-white {
    background-color: #fff !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.Announcement-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    min-height: 76px;
}
.more-calender {
    text-align: right;
    display: block;
    color: rgb(241, 61, 61);
}

a {
    color: #3490dc;
    text-decoration: none;
    background-color: transparent;
}

.pt-4, .py-4 {
    padding-top: 1.5rem !important;
}