
/* .main-content {
    padding: 0px 20px;
    
  } */
  
  /* mat-drawer-container {
    background-color: #F6F9FA;
    color: rgba(0, 0, 0, .87);
    height: 91%;
  } */
  /* mat-drawer {
    width: 255px;   
    margin-top: 0px;
   
  } */
  /* mat-drawer-content {
   
    overflow-y: hidden;
  } */
  
  /* table {
    background-color: #fff;
  } */
  
  
  /* .mat-raised-button {
    height: 35px;
    font-size: 0.875rem;
    background: #ed4544;
    border: solid 1px #ed4544;
    color: white;
    font-family: 'lato';
    letter-spacing: 0.06em;
    font-family: Lato-Black;
  } */
  
  
  
  
  
  /* .custom-pagination ::ng-deep .ngx-pagination .current {
    background: #409da9;
  } */
  
  /* .custom-pagination {
    float: right;
  } */
  
  
  
  /* .padd_colx5 {
    padding: 0px 5px;
  } */
  
  
  
  /* table tr td {
    border: unset;
    vertical-align: middle;
    font-size: 13px !important;
    padding: 10px 20px !important;
    vertical-align: middle;
    font-family: Lato-Black;
  } */
  
  /* table tr th {
    border: unset;
    font-size: 13px;
    color: #212529;
    padding: 15px 20px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-family: Lato-Black;
  } */
  
  /* .pad_20 {
    padding-top: 20px;
  } */
  
  /* .title{
    background:darkblue;
    color: white;
    height: 50px;
  font-weight: bold;
  position: relative;
  justify-content: space-between;
    display: flex;
  } */

  /* .sub-title {
    margin-top: 25px;
    justify-content: space-between;
    display: flex;
    margin-left: 4px;
    font-weight: bold;
  } */
  
  /* .sub-title button {
    text-justify: auto;
    float: right
  } */
  
  /* .text {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
  } */
  
  /* .text h5 {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 2px;
  } */
  /* .total {
    margin-top: -20px;
    margin-left: 17px;
    font-weight: bold;
  } */
  /* .go {
  height: 49px;} */

  /* .mx-0 {
  margin-right: 210px !important;
  margin-left: 0 !important;
  margin-top: 25px;
} */

  
  /* .myInput{    
    box-sizing: border-box;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 10px 15px 7px 40px;
    border: none;
    border-bottom: 1px solid #ddd;
  } */


  /* .modal-body textarea{
border: 0px;
  } */

  /* .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
  } */
  
  /* .padd_colx5 {
    padding: 0px 33px;
  } */

  