<!-- <ngx-loading [show]="loading"></ngx-loading> -->
<mat-drawer-container>
    <mat-drawer mode="side" opened="true">
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <app-header></app-header>

    <div class="main-content">
        <!-- <div class="row">
            <div class="title">
                <h3>Client List(0)</h3>
                <h2>Welcome to Enablex Hire!</h2>
            </div>
        </div> -->
        <div class="row sub-title">
            <div class="col-md-8 text">
                <h5>This is a listing of all Clients who are part of the logged in user's company.
                </h5>
            </div>
            <div class="col-md-4">

                <button class="float-right" mat-raised-button routerLink="/addClient">
                    Add Client
                </button>
            </div>
        </div>



        <!-- <div *ngIf="loading" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
        </div>
        </div> -->
        <div class="row mx-0">

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label> Search Criteria</mat-label>
                    <mat-select name="user" id="user" [(ngModel)]='searchText'>
                        <mat-option value=''>Company Name </mat-option>
                        <mat-option value="1003">Contact Person Name</mat-option>
                        <mat-option value="1003">Contact Person Email</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 ">
                <mat-form-field appearance="outline">
                    <mat-label> Status </mat-label>
                    <mat-select name="locationName" id="locationName">
                        <mat-option value=''>Active </mat-option>
                        <mat-option value="1003">Suspended</mat-option>


                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-3 my-1  ">
                <button class="go" mat-raised-button>Go</button>
            </div>
        </div>


        <div class="row sub-title">
        <div class="col-md-6 text">
            <h5 style="margin-left: 5px;">Total: 0</h5>
        </div>
    </div>


    <div class="col-12 padd_colx5 pad_20">
        <div class="table-responsive">

            <!-- <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span> -->
            <!-- <mat-spinner></mat-spinner> -->
            <!-- </div>
                </div> -->
            <!-- <div *ngIf="userList?.length;else no_data_templ"> -->
            <table class="table table-striped">
                <colgroup>
                    <!-- <col style="width: 20%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;"> -->
                </colgroup>
                <thead>
                    <tr>
                        <th>#</th>
                        <th> Name</th>
                        <!-- <th>Last Name</th> -->
                        <th>Contact Person Name</th>
                        <th>Contanct Person Email</th>
                        <!-- <th>Role</th> -->
                        <th>Added </th>
                        <!-- <th>Type</th> -->
                        <!-- <th> More</th> -->

                    </tr>
                </thead>

                <tbody #empty>
                    <!-- <ng-container *ngIf="( userList |  filter:searchText) as result"> -->

                    <!-- <div *ngFor="let u of userList; let i = index"> </div> -->

                    <!-- <p *ngIf="userList.length === 0">No Result</p>   -->

                    <!-- <p *ngIf="result.length === 0" style="text-align: center;">No User Found</p> -->



                    <tr>
                        <!-- <tr> -->
                        <!-- <td>          
                 NO DATA FOUND
            </td> -->
                        <!-- <td>Ankit</td> -->

                        <td colspan="7" style="text-align: center;">No Record Found</td>
                        <!-- <td>ankit@gmail.com</td>
                            <td>Front-End Developer</td>
                            <td>05-Dec-2022</td> -->
                        <!-- <td>{{| titlecase}}</td> -->
                        <!-- <td style="text-transform: uppercase;">{{c.middleName | titlecase}}</td> -->
                        <!-- <td>{{u.lastName | titlecase}}</td> -->
                        <!-- <td>{{u.mobile }}</td> -->
                        <!-- <td>{{u.email }}</td> -->
                        <!-- <td>{{u.businessName |uppercase }}</td> -->
                        <!-- <td>{{u.locationName |uppercase }}</td> -->
                        <!-- <td>
                                <span style="font-family: lato-black;" *ngIf="u.typeId==1001">Super Admin</span>
                                <span style="font-family: lato-black;" *ngIf="u.typeId==1002">Customer</span>
                                <span style="font-family: lato-black;" *ngIf="u.typeId==1003">Branch Manager</span>
                                <span *ngIf="u.typeId==1004">Company Admin</span>
                                <span *ngIf="u.typeId==1005">Operation Manager</span>
                                <span style="font-family: lato-black;" *ngIf="u.typeId==1006">Regional Head</span>
                                <span style="font-family: lato-black;" *ngIf="u.typeId==1007">Auditor</span>
                                <span *ngIf="u.typeId==1008"></span>
                            </td> -->
                        <!-- <button mat-raised-button routerLink="/addUser/{{u.userDetailsId}}">Edit</button> &nbsp; -->

                        <!-- <button mat-raised-button routerLink="/addUser/{{u.userDetailsId}}">Suspend</button> &nbsp; -->

                        <td>

                            <ul class="list-inline">
                                <li>
                                    <!-- <button mat-raised-button  (click)="customerDetails(c)">Edit</button> &nbsp; -->
                                    <!-- <button mat-raised-button routerLink="/addUser">Edit</button> &nbsp;  -->

                                    <!-- <button mat-raised-button routerLink="">Suspend</button> &nbsp;  -->

                                    <!-- <button mat-raised-button    >Details</button> -->
                                    <!-- <button mat-raised-button  routerLink="/businessDetails/edit/{{b.businessId}}" >Details</button> -->
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <!-- </tr> -->

                    <!-- </ng-container> -->

                </tbody>

            </table>
            <ng-template #no_data_templ> NO DATA FOUND</ng-template>
            <!-- </div> -->


            <!-- <ng-container *ngIf="dataSource.data.length > 0">
                <p>There is no data for this filter</p>
            </ng-container> -->

            <pagination-controls class="custom-pagination" (pageChange)="pageChangeEvent($event)">
            </pagination-controls>

        </div>
    </div>


    <!-- <ng-container *ngIf="(  |  filter:searchText) as result"> -->
    <!-- <p *ngIf="result.length === 0" style="text-align: center;">No User Found</p> -->
    <!-- </ng-container> -->

    <!-- </div> -->