


<footer  style="padding: 10px; margin-left: -151px; font-family: 'roboto';  background-color: darkblue; width: auto;">
    <div class="container">
        <div class="footer-info">
            <div class="col-md-6">
                <p class="mb-0" style="color: rgb(255, 255, 255);">TalentOnLease</p> 
                <span
                    style="color: rgb(255, 255, 255);"> © Copyright 2022. All Rights Reserved</span>
            </div>
            <!-- <div class="col-md-3     d-flex justify-content-end">
                <div class="social-icons">
                    <ul class="pl-0 list-unstyled d-flex align-items-end mb-0"></ul>
                </div>
            </div> -->
        </div>
    </div>
</footer>

